/* *{
  margin: 0;
  padding: 0;
} */


body{
 /* width: 100vh; */
 height: 100vh;
}
.dark{
  background-color: black;
  color: aliceblue;
}
.bright{
  background-color: rgb(121, 228, 112);
  color: black;
}
